<br/>
<br/>
<h4>Choose between Rock, Paper, Scissors</h4>

<form action='/set_choice' method='post'>
  Your choice: <input type='text' name='player_choice'/>
  <br/>
  <input type='submit' class='btn'/>
</form>